<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Museum Madness | Visit All NYC Museums</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
  <div class="header">
    <h1>Museum Madness</h1>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/users/profile">Back to Profile</a>
  </nav>
  <div class="search">
    <h1>Search</h1>
    <h3>Check em off! Search by city: New York, Bronx,<br>
    Queens, Long Island City, Brooklyn or..... Staten Island</h3>
    <form action="/museums/search" method="POST">
      <input type="text" name="city" placeholder="Enter city"><br>
      <input type="submit" value="search!">
    </form>
  </div>
  <h1>Results</h1>
  <h3>Been there, done that? Mark visited + add memories!</h3>
  <div class="results">
     <ol>
      <% for( let i = 0; i < museum.length; i++) {%>
      <li class="museum-choices">
        <h3><%= museum[i].name %></h3>
        <p> Address: <%= museum[i].adress1 %></p>
        <p> URL: <%= museum[i].url %></p>
      </li>
      </ol>
        <form action="/museums/favorites" method="POST">
          <input type="hidden" name="favorite[name]" value="<%= museum[i].name %>">
          <input type="hidden" name="favorite[adress1]" value="<%= museum[i].adress1 %>">
          <input type="hidden" name="favorite[url]" value="<%= museum[i].url %>">
          <input type="hidden" name="favorite[address2]" value="<%= museum[i].address2 %>">
          <input type="submit" value="mark visited">
        </form>
      <% }; %>
  </div>
  <h1>Museums Visited</h1>
  <h3>click edit to add in your favorite memory!</h3>
  <div class="museum-list">
    <ol>
      <% for (let i = 0; i < favorites.length; i++) { %>
        <li class='visited-list'>
          <h3><%= favorites[i].name %></h3>
          <p>Address: <%= favorites[i].adress1 %></p>
          <p>URL: <%= favorites[i].url %></p>
          <p>Memory: <%= favorites[i].address2 %></p>
          </li>
        </ol>
        <a href="/museums/edit/<%= favorites[i]._id %>">edit</a>
        <form action="/museums/favorites/<%= favorites[i]._id %>?_method=DELETE" method="POST">
          <input type="submit" value="delete">
        </form>
      <% }; %>
  </div>
</div>
</body>
</html>
